@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400&family=DM+Serif+Display:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Archivo, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
/* body{
    padding-inline: 1rem;
} */
/* Utility classes -> */
.bx-code-block,.bx-server{
  transform: scale(1.5) translateY(10px);
  display: block;
}
.container {
  width: 100%;
  max-width: 1200px;
}
.container-full {
  width: 100%;
}

.container80{
  padding-inline:min(20%,70px);
}

@media(max-width:750px){
  .container80{
    padding-inline: 1rem;
  }
}

.hide {
  right: -500px;
}
/* Other Classes */
.header {
  background-color: white;
  position: fixed;
  top:0;
  z-index: 100;
  border-bottom: 2px solid black;
  padding-inline: 1em;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-block: 0.5em;
}

.logo {
  font-size: 2em;
  font-family: "DM Serif Display", "sans-serif";
  font-weight: 800;
  letter-spacing: -1px;
  color: rgb(51, 51, 51);
}

.logo:hover {
  text-decoration: underline;
}

.links {
  display: flex;
  gap: 1.5em;
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: 600;
  color: rgb(51, 51, 51);
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease;
}
.menu {
  display: none;
}

.sidemenu {
  border-left: 2px solid black;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 300px;
  /* width: 0px; */

  z-index:200;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}
.sidemenu-heading {
  display: flex;
  align-items: center;
  border-bottom: 3px solid black;
  justify-content: space-between;
  padding-inline: 1em;
}
.sidemenu-heading h1 {
  font-family: fantasy, sans-serif;
  font-size: 2.84em;
  letter-spacing: 5px;
  color: rgb(215, 37, 21);
}
.side-links {
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}

.side-links li {
  margin-top: 0.7em;
  padding-left: 1em;
}
.side-links li:hover {
  color: black;
  transition: all 0.1s ease-in;
  cursor: pointer;
  transform: scale(1.01);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(251, 234, 215); */
  height: 100vh;
}

.hero {
  background-color: rgb(251, 234, 215);
  border-bottom: 3px solid black;
  padding-inline: 1em;
}
.nested-hero {
  padding-block: 5em;
  display: flex;
  gap: 1em;
  margin-inline: auto;
  justify-content: space-between;
  overflow-x: hidden;
}
.hero-desc {
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  flex-basis: 45%;
}

.introduction {
  font-family: "DM Serif Display", sans-serif;
  font-size: 3rem;
}
.brief {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.hero-image {
  display: flex;
  align-items: center;
  text-align: right;
  align-self: center;
  width: 50%;
  overflow-x: hidden;
}
.hero-btn {
  padding-left: 1rem;
  display: flex;
  width: 100%;
  margin-top: 2em;
  justify-content: flex-start;
  gap: 2em;
}

.learn-more,
.projects {
  padding-block: 0.75em;
  padding-inline: 1.5em;
  font-weight: 600;
  font-size: 1em;
  color: rgb(51, 51, 51);
  /* text-transform: uppercase; */
  cursor: pointer;
  background-color: transparent;
  border: 3px solid black;
}
.projects {
  background-color: #fff;
}
.projects:hover,
.learn-more:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 10px 1px red;
}
.projects:active,
.learn-more:active {
 box-shadow: none;
}
.Skillcontainer{
  padding-top: 3rem;
  border-bottom: 3px solid black;
}
.SkillsAndExp{
  margin: auto;
  padding-block: 2em;
  display: flex;
  flex-direction: column;
}

.SkillsAndExp>h1{
  font-family: "DM Serif Display",sans-serif;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
}
.skills{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid black;
  padding: 1em;
  background-color: rgb(251, 234, 215);
}
.skillcard{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  box-shadow: 0 0 10px 10px rgb(255, 255, 255);
  /* align-items: center; */
}

.top{
  flex-basis: 25%;
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 2px solid black;
}
.bottom{
  padding-block:1rem;
  display:grid ;
  grid-template-columns: 1fr 1fr 1fr;
  flex-basis: 75%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  gap:1rem;
}

.tech{
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  font-weight: 600;
}

.tech div:hover{
  
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both ;
  animation-delay: 0.2s;
}

.Projects{
  margin-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 100px;
}

/* Media queries */

@media (max-width: 1000px) {
  .introduction {
    font-size: 2.5rem;
  }
  .brief {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

@media (max-width: 730px) {
  .nested-hero {
    padding-top: 6em;
    flex-direction: column-reverse;
  }
  .links {
    display: none;
  }
  .bottom{
    grid-template-columns: 1fr 1fr;
  }
  .menu {
    display: inline-block;
  }
  .hero-image {
    width: 330px;
  }
  .myImage {
    width: 600px;
  }
}

/* Animation */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}